In [20]:
import pandas as pd
import numpy as np

In [21]:
pl0 = pd.read_csv("plants_next.csv")

In [22]:
# pl0

In [23]:
pl1 = pl0.groupby(["Ersatz"]).count().reset_index()

In [24]:
pl2 = pl1.rename(columns={ "plantid": "count"})
cols = [2, 3, 4, 5, 6, 7]
pl3 = pl2.drop(pl2.columns[cols],axis=1)

In [25]:
pl3.dtypes

Ersatz    object
count      int64
dtype: object

In [26]:
pl4 = pl3.loc[:]

In [27]:
pl4.loc[pl4.Ersatz=="800x1", 'netpower'] = 80.7
pl4.loc[pl4.Ersatz=="800x2", 'netpower'] = 161.1
pl4.loc[pl4.Ersatz=="9000x1", 'netpower'] = 837.9
pl4.loc[pl4.Ersatz=="9000x2", 'netpower'] = 1675.8

In [28]:
pl4.loc[pl4.Ersatz=="800x1", 'cost'] = 100
pl4.loc[pl4.Ersatz=="800x2", 'cost'] = 200
pl4.loc[pl4.Ersatz=="9000x1", 'cost'] = 450
pl4.loc[pl4.Ersatz=="9000x2", 'cost'] = 800

In [29]:
pl4.dtypes

Ersatz       object
count         int64
netpower    float64
cost        float64
dtype: object

In [30]:
pl5 = pl4.loc[:]

In [31]:
# pl5.loc["totalpower"] = pl5.loc["netpower"] * pl5.loc["count"]
pl5['totalpower'] = pl5["netpower"] * pl5["count"]
pl5['totalcost'] = pl5["cost"] * pl5["count"]
#pl5['totalpower'] =

In [32]:
pl6 = pl5.loc[:]

In [33]:
pl6['1500'] = (pl6["totalpower"] * 1500) / 10**6
pl6['3000'] = (pl6["totalpower"] * 3000) / 10**6
pl6['4500'] = (pl6["totalpower"] * 4500) / 10**6
pl6['6000'] = (pl6["totalpower"] * 6000) / 10**6

In [34]:
#pl7 = pl6.loc[:, ["count","netpower","totalpower","1500", "3000", "6000"]]

In [35]:
#pl7

In [36]:
pl6.append(pl6.sum(numeric_only=True), ignore_index=True)

,Ersatz,count,netpower,cost,totalpower,totalcost,1500,3000,4500,6000
0,800x1,18.0,80.7,100.0,1452.6,1800.0,2.1789,4.3578,6.5367,8.7156
1,800x2,12.0,161.1,200.0,1933.2,2400.0,2.8998,5.7996,8.6994,11.5992
2,9000x1,6.0,837.9,450.0,5027.4,2700.0,7.5411,15.0822,22.6233,30.1644
3,9000x2,1.0,1675.8,800.0,1675.8,800.0,2.5137,5.0274,7.5411,10.0548
4,NaN,37.0,2755.5,1550.0,10089.0,7700.0,15.1335,30.2670,45.4005,60.5340

In [37]:
# newdf['Stilllegung'] = newdf['Stilllegung'].astype(int)
#newdf['Stilllegung'] = newdf['Stilllegung'].apply(lambda x: int(x) if x == x else None)